html,
body,
div { 
    margin: 0px;
    padding: 0px;
    outline: 1px solid black;
    display: block;
}


html, body { 
    width: 100%;
    height: 100%;
}

h1, h2 { 
    text-align: center;
}

#controls { 
    width: 20%;
    height: 5%;
    margin-left: 37.5%;
    padding-left: 5%;
}

#grocery { 
    height: 75%;
    margin-top: 0.5%;
}
#list { 
    width: 33%;
    height: 80%;   
    margin-left: 33%;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.groceryItem { 
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10%;
}

.itemText { 
    width: 60%;
    text-align: center;
    font-size: 24px;
}
.numBoxes { 
    width: 20%;
    text-align: center;
    font-size: 24px;
}

.arrowBoxes { 
    width: 20%;
    text-align: center;
    font-size: 24px;
}

.arrowButtons { 
    width: 100%;
}
